<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Бесконечный режим</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div id="app" class="container">
        <a href="index.html">Главная информация</a>
        <a href="constructor.html">Конструктор кодера</a>
        <a href="play-zone.html">Игровая зона конструтора</a>
        <a href="api-info.html">Документация API</a>
        <a href="api-play-zone.html">Игровая зона API</a>
        <a href="table-pow.html">Таблица степени до 20</a>
        <a href="infinity.html">Бесконечное тестирование</a>
        <a href="find-hash.html">Найти хэш</a>
        <a href="coded-encoded.html">Кодирование и раскодирование</a>
        <br>
        <a href="https://github.com/Lyumih/ultimate_coder" target="blank" style="float: right">Мы на GitHub</a>

        <h1 class="my-4">Бесконечный режим</h1>
        <div>
            <p class="row">
                <div class="col-4">Алгоритм хэширования</div>
                <div class="col-4">
                    <select class="custom-select" v-model="hashAlgorithm">
                        <option v-for="algoritm in hashAlgorithmList" :value="algoritm">{{algoritm}}</option>
                    </select>
                </div>

            </p>
            <button class="btn btn-secondary my-3" @click="generateText(lengthNewText)">
                Сгенерировать строку
            </button>

            <span>Длина новой строки: </span>
            <input v-model.number="lengthNewText" />
        </div>

        <div class="">
            <h3>Шаг: {{ step }}</h3>
            <button class="btn btn-primary" @click="addRandomLetter">
                Следующий шаг
            </button>
            <div>
                <button class="btn btn-primary" @click="addRandomLetterUnlessCrossing">
                    Продолжать искать, пока не будет найдена последовательность
                </button>
                <span>Длина пересек. массива: </span>
                <input v-model.number="lengthCrossingForward" />
            </div>
            <div>
                <button class="btn btn-primary" @click="addRandomLetterUnlessEndHash">
                    Продолжать искать, пока не будет совпадение конца строки с хешем
                </button>
                <span>Длина конца хэша: </span>
                <input v-model.number="lengthHashEnd" />
            </div>
            <p>Длина строки: {{ text.length }}</p>
            <p>Строка: {{ text }}</p>
            <p>Длина хэша: {{ hash.length }}</p>
            <p>Хэш: {{ hash }}</p>
            <p>Совпадение букв хэша и конца строки: {{textEndHash.length}} {{textEndHash}}</p>
            <p>Разница в буквах: {{ diffLetters.length }} шт. {{ diffLetters }}</p>
            <p>
                Пересекающиеся последовательно буквы:
                {{ crossingLettersForward.length }} шт. {{ crossingLettersForward }}
            </p>
            <p>
                Пересекающийся текст. Разделитель:
                <input v-model="crossingDivider" /> <br />
                Пересекающийся текст <span v-html="styledCrossintText"></span>
            </p>
            <p>Удаление -1 букв в пересекающиеся текста: {{ deleteLetters.join("") }}</p>
            <p>Индекс букв Пересекающиеся текста: {{ crossingForwardIndexs }}</p>
            <p>Удаленные буквы: {{ lettersLost }}</p>
            <br>
            <p>Свойства:</p>
            <p>Первая буква потерена: {{ isFirstLetterLost }}</p>
            <p>Есть рядомстоящие буквы: {{ isPairLettersLost }}</p>
            <br />
            <p>
                Длина соединения хэша и модифицированной строки:
                {{ resultText.length}}
            </p>
            <p>
                Результат соединения хэша и модифицированной строки: {{ resultText }}
            </p>
        </div>
    </div>
</body>

<script src="coder-api.js"></script>
<script src="coder-hashing.js"></script>
<script src="coder-const.js"></script>
<script src="js/infinity.js"></script>

</html>